input[type="submit"], button:not(.create-button) {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 5px;
}

.create-button {
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
}
